<h1 class="mt-4">Serviços</h1>
<ol class="breadcump mb-4">
    <li class="breadcump-item active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="servico.idCliente">
                      <option value="">Selecione...</option>
                      <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                        {{ cliente.nome }}
                      </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Descrição:</label>
                <input class="form-control" [(ngModel)]="servico.descricao" type="text" name="decricao" id="inputDescricao">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Data:</label>
                <input class="form-control" [(ngModel)]="servico.data" type="date" name="decricao" id="inputData">
            </div>

            <div class="col-md-6">
                <label>Preço:</label>
                <input class="form-control" [(ngModel)]="servico.valor" type="text" name="decricao" id="inputValor">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-save"></i>Salvar
                </button>

                <button type="submit" class="btn btn-danger ml-1" routerLink="/servico-prestado/lista">
                  <i class="fa fa-arrow-alt-circle-left"></i>Voltar
                </button>
            </div>
        </div>
    </form>
</div>