<h1 class="mt-4 ml-4">Serviços</h1>
<ol class="breadcump mb-4">
    <h4 class="breadcump-item">Consulta</h4>
</ol>

<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome do cliente: </label>
                <input type="text" [(ngModel)]="nome" name="nome" id="inputNome" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="inputmes">Mês:
                <select [(ngModel)]="mes" name="mes" [ngModelOptions]="{standalone: true}">
                  <option value="">Selecione...</option>
                  <option *ngFor="let mes of meses" [value]="mes">
                      {{ mes }}
                  </option>
                </select>
              </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button" class="btn btn-warning ml-1" routerLink="/servico-prestado/form">
                  <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of lista">
                        <td>{{ x.cliente }}</td>
                        <td>{{ x.descricao }}</td>
                        <td>{{ x.valor }}</td>
                        <td>{{ x.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>